:root{
    color: black;
    --cor-tema: #650505d6;
    --cor-hover: #300202d6;
    --borda-simples: 1pt solid black;
    --shadow-input: -5px 0 5px  rgb(0 0 0 / 95%);
    --shadow-hover: 0 0 10px #650505d6;
    font-size: 11pt;
    line-height: 1.5;
    --body-height: 500px;
    --section-margin: 2.5px
}

h2 {
    border-bottom: var(--borda-simples);
    text-align: center;
    font-weight: bold;
    position: relative;
    width: 96%;
    left: 2%;
    font-size: 11pt;
}
