.section-inputs-acessos{
    position: relative;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: var(--borda-simples);
    min-width: 300px;
    width: 100%;
    padding-bottom: 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.titulo-section-acessos {
    border-bottom: var(--borda-simples);
    text-align: center;
    font-weight: bold;
    position: relative;
    width: 96%;
    left: 2%;
    font-size: 11pt;
}

.switch-language{
    position: absolute;
    top:1%;
    right: 2%;
}
.subtitulo-inputs-acessos{
    grid-column: 1/3;
}

.container-inputs-acessos{
    margin-top: 15px;
    width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    padding-left: 3%;
    box-sizing: border-box;
    align-items: center;
    
}
.radio-container{
    position: relative;
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 0.25fr 1fr;
    align-content: center;
}

input[type='radio']{
    display: none;
}
.radio-label{
    align-self: center;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1pt solid var(--cor-tema);
}
.radio-label:hover {
    cursor: pointer;
    box-shadow: 0 0 10px var(--cor-tema);
}

input[type='radio']:checked + .radio-label {
    background-color: var(--cor-tema); 
}

input[type='radio']:checked + .radio-label::before {
    background-color: var(--cor-tema); 
}

select {
    width: 90%;
    text-align: center;
    border-radius: 20px;
    border: 1pt solid var(--cor-tema);
}

select:hover {
    cursor: pointer;
    box-shadow: 0 0 10px var(--cor-tema);
}
