.main-container-inputs{
    display: grid;
    grid-template-columns: 3fr 4.5fr 4.5fr;
    min-height: 840px;
    max-height: 840px;
}

.titulo-inputs-criterios, .titulo-inputs-options{
    margin-top: 10px;
    margin-bottom: 5px;
}

.titulo-description-metodo-mcdm{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14pt;
}

.paragrafo-explicacao-metodo-mcdm{
    margin: 0;
}