.main-body{
    position: relative;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}
.main-container{
    display: grid;
    grid-template-columns: 5fr 5fr 9fr 7fr;
    height: 660px;
    margin: 0.1%;
    box-sizing: border-box;
}
.header{
    overflow: hidden;
    box-sizing: border-box;
}

main .navbar{
    grid-column: 1/2;
    margin-right: 0.8%;
}

.inputs{
    grid-column: 2/3;
}
.switch-language{
    position: absolute;
    left: 41%;
    top: 6.5%;
}
.fluxograma{
    grid-column: 3/4;
}

.resultados{
    grid-column: 4/5;
}

.footer{
    overflow: hidden;
    box-sizing: border-box;
}
