.main-container-primeira{
    display: grid;
    grid-template-columns: 3fr 9fr;
    overflow: hidden !important;
    height: 100%;
    max-height: 840px;
}
.section-esquerda-primeira{
    display: flex;
    flex-direction: column;
    grid-column: 1/2;
    width: 100%;
    border-right: var(--borda-simples);
    box-sizing: border-box;
    padding-left: 2%;
    overflow: scroll;
}

.slider-container-primeira{
    display: flex;
    flex-direction: column;
    width: 98%;
    height: 100%;
}

.titulo-matriz-input-primeira{
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 1.5%;
    text-decoration: none;
    border: none;
    font-size: 16pt;
}

.titulo-matriz-primeira{
    text-align: center;
    margin-bottom: 1px;
    margin-top: 5px;
    font-size: 12pt;
}

.section-direita-primeira{
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-column: 2/3;
    max-height: 840px;
    overflow: scroll;
    overflow-x: hidden !important;
    padding-top: 2%;
    padding-bottom: 15%;
    box-sizing: border-box;
}
/* Estilo da barra de rolagem */
.section-direita-primeira::-webkit-scrollbar, .section-esquerda-primeira::-webkit-scrollbar  {
    width: 5px; /* Largura da barra de rolagem */
}

/* Cor de fundo da barra de rolagem */
.section-direita-primeira::-webkit-scrollbar-track, .section-esquerda-primeira::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Cor do indicador da barra de rolagem (a parte que você arrasta) */
.section-direita-primeira::-webkit-scrollbar-thumb, .section-esquerda-primeira::-webkit-scrollbar-thumb {
    background: var(--cor-tema);;
    border-radius: 50px;
}

/* Hover sobre o indicador da barra de rolagem */
.section-direita-primeira::-webkit-scrollbar-thumb:hover,.section-esquerda-primeira::-webkit-scrollbar-thumb:hover {
    background: var(--cor-hover);
}

.matriz-container-primeira{
    margin: auto;
    margin-left: 100px;
    margin-bottom: 20px;
}
.matriz-vetor-container-primeira{
    display: flex;
    gap: 1px;
    margin: auto;
}
.matriz-container-primeira:hover{
    cursor: pointer;
}