
:root{
    color: black;
    --borda-simples: 1pt solid black;
    line-height: 1.5;
    box-sizing: border-box;
    /* overflow: hidden !important; */

}
/* Estilo da barra de rolagem */
::-webkit-scrollbar {
    width: 10px; /* Largura da barra de rolagem */
}

/* Cor do indicador da barra de rolagem (a parte que você arrasta) */
::-webkit-scrollbar-thumb {
    background: var(--cor-tema);;
    border-radius: 40px;
}
/* Hover sobre o indicador da barra de rolagem */
::-webkit-scrollbar-thumb:hover {
    background: var(--cor-hover);
}





