
.main-container-segunda{
    display: grid;
    grid-template-columns: 3fr 9fr;
    overflow: hidden;
    height: 100%;
}

.titulo-matriz-segunda{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 14pt;
}

.section-esquerda-segunda{
    grid-column: 1/2;
    width: 100%;
    border-right: var(--borda-simples);
    box-sizing: border-box;
    padding-left: 2%;
    padding-bottom: 10%;
    overflow: scroll;
    overflow-x: hidden;
}

.section-direita-segunda{
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-column: 2/3;
    max-height: 700px;
    overflow: scroll;
    overflow-x: hidden;
    padding-bottom: 5%;
    height: 100%;
}
.matriz-container-segunda{
    margin: auto;
    margin-left: 100px;
}
.matriz-container-segunda:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.matriz-vetor-container-segunda{
    display: flex;
    gap: 1px;
    margin: auto;
    width: 90%;
}
.slider-container-segunda{
    display: flex;
    flex-direction: column;
    width: 98%;
    height: 600px;
}