
.main-container-segunda{
    display: grid;
    grid-template-columns: 3fr 9fr;
    overflow: hidden;
    height: 100%;
}

.titulo-matriz-segunda{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 14pt;
}

.section-esquerda-segunda{
    display: flex;
    flex-direction: column;
    grid-column: 1/2;
    width: 100%;
    border-right: var(--borda-simples);
    box-sizing: border-box;
    padding-left: 2%;
    padding-bottom: 5%;
    overflow: scroll;
    overflow-x: hidden;
}
/* Estilo da barra de rolagem */
.section-esquerda-segunda::-webkit-scrollbar {
    width: 5px; /* Largura da barra de rolagem */
}

/* Cor de fundo da barra de rolagem */
.section-esquerda-segunda::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Cor do indicador da barra de rolagem (a parte que você arrasta) */
.section-esquerda-segunda::-webkit-scrollbar-thumb {
    background: var(--cor-tema);;
    border-radius: 50px;
}

/* Hover sobre o indicador da barra de rolagem */
.section-esquerda-segunda::-webkit-scrollbar-thumb:hover {
    background: var(--cor-hover);
}

.section-direita-segunda{
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-column: 2/3;
    max-height: 700px;
    overflow: scroll;
    overflow-x: hidden;
    padding-bottom: 5%;
    height: 100%;
}
.matriz-container-segunda{
    margin: auto;
    margin-left: 100px;
}
.matriz-container-segunda:hover {
    cursor: pointer;
}
.matriz-vetor-container-segunda{
    display: flex;
    gap: 1px;
    margin: auto;
    width: 90%;
}
.slider-container-segunda{
    display: flex;
    flex-direction: column;
    width: 98%;
    height: 600px;
}